<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFG</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <script type="text/javascript" src="{% static 'data/json/graphInfo.json.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>


</head>
<body>
    
    <h1>Drawing Metabolic Pathways and Networks</h1>

    <label>Choose a metabolic pathway/network:</label>

    <form id="pathwayForm">
        {% csrf_token %}
        <select id="pathwaysList" name="pathwayNames">
            {% for filename in filenames %}
                <option value="{{filename}}">{{ filename }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Load Pathway" />
        <!-- <button type="button" id="loadPathway">Load Pathway</button> -->
    </form>
    
    <br><br>
    <div class="container">
        <div id="mynetwork"></div>
        <div class="resizer" id="dragMe"></div> 
        <div id="infoConfig">

            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Information')">Information</button>
                <button class="tablinks" onclick="openTab(event, 'Configuration')">Configuration</button>
                <button class="tablinks" onclick="openTab(event, 'Actions')">Actions</button>
            </div>
              
             
            <div id="Information" class="tabcontent">
                <div id="graphInfo">
                    <h3>Graph Information</h3>
                    <p id="numNodes"></p>
                    <p id="numEdges"></p>
                    <p id="numCrossings"></p>
                    <p id="numCCs"></p>
                </div>

                <div id="nodeInfo" hidden>
                    <hr>
                    <h3>Node Information</h3>
                    <h4 id="nodeId"></h4>
                    <p>Predecesors:</p>
                    <ul id="predList"></ul>
                    <p>Succesors:</p>
                    <ul id="succList"></ul>
                    <p>Degree:</p>
                </div>
                
            </div>
            
            <div id="Configuration" class="tabcontent">
            </div>
            
            <div id="Actions" class="tabcontent">
            </div>

        </div>
    </div>
    {% block javascript %}
    <script>var csrf_token_value = "{{ csrf_token }}";</script>
    <script src="{% static 'js/main.js' %}"></script>
    
    <script>
        function loadGraph(inputNodes, inputEdges)
        {

            var nodes = new vis.DataSet(
                inputNodes
            );

            // create an array with edges
            var edges = new vis.DataSet(
                inputEdges
                
            );
            // create a network
            var container = document.getElementById('mynetwork');

            // provide the data in the vis format
            var data = {
                nodes: nodes,
                edges: edges
            };

            var options = {
                nodes: {
                    shape: 'box'
                },
                edges: {
                    smooth: false
                },
                physics: false,
                interaction: {
                    // dragNodes: false,// do not allow dragging nodes
                    // zoomView: false, // do not allow zooming
                    // dragView: false  // do not allow dragging
                }
        
            };

            // initialize your network!
            var network = new vis.Network(container, data, options);

            $.ajax({
                type: "POST",
                url: "/get_graph_info/",
                data:{
                    pathwayName: $("#pathwaysList option:selected").text(),
                    csrfmiddlewaretoken: csrf_token_value
                },
                success: (data) => {
                    console.log(data);

                    var numNodesElement = document.getElementById("numNodes");
                    numNodesElement.innerHTML = "Number of Nodes: ";
                    numNodesElement.appendChild(document.createTextNode(data.numNodes));

                    var numEdgesElement = document.getElementById("numEdges");
                    numEdgesElement.innerHTML = "Number of Edges: ";
                    numEdgesElement.appendChild(document.createTextNode(data.numEdges));

                    var numCrossingsElement = document.getElementById("numCrossings");
                    numCrossingsElement.innerHTML = "Number of Crossings: ";
                    numCrossingsElement.appendChild(document.createTextNode(data.numCrossings));

                    var numCCsElement = document.getElementById("numCCs");
                    numCCsElement.innerHTML = "Number of Connected Components: ";
                    numCCsElement.appendChild(document.createTextNode(data.numCCs));


                    
                },
                error: (error) => {
                    alert('Error');
                }
            });

            network.on("click", function(params) {
                console.log(params)
                if (params.nodes.length != 0) {
                    document.getElementById('nodeInfo').hidden = false;

                    var nodeIdHeader = document.getElementById("nodeId");
                    nodeIdHeader.textContent = params.nodes[0];

                    $.ajax({
                        type: "POST",
                        url: "/get_node_info/",
                        data:{
                            pathwayName: $("#pathwaysList option:selected").text(),
                            nodeName: params.nodes[0],
                            csrfmiddlewaretoken: csrf_token_value
                        },
                        success: (data) => {
                            console.log(data);

                            var predList = document.getElementById("predList");
                            predList.innerHTML = "";
                            
                            var predecessors = data.predecessors;

                            for(var i = 0; i < predecessors.length; ++i)
                            {
                                var li = document.createElement("li");
                                li.appendChild(document.createTextNode(predecessors[i]));
                                predList.appendChild(li);

                            }  
                            
                            var succList = document.getElementById("succList");
                            succList.innerHTML = "";

                            var successors = data.successors;

                            for(var i = 0; i < successors.length; ++i)
                            {
                                var li = document.createElement("li");
                                li.appendChild(document.createTextNode(successors[i]));
                                succList.appendChild(li);

                            } 

                        },
                        error: (error) => {
                            alert('Error');
                        }
                    });

                }
                else
                {
                    document.getElementById('nodeInfo').hidden = true;
                }

                

            });
        }

        $("#pathwayForm").submit(function (e) {
            // preventing from page reload and default actions
            e.preventDefault();
            // serialize the data for sending the form data.
            var serializedData = $(this).serialize();
            // make POST ajax call
            $.ajax({
                type: 'POST',
                url: '/add_pathway/',
                data: {
                    name: $("#pathwaysList option:selected").text(),
                    csrfmiddlewaretoken: csrf_token_value
                },
                success: function (response) {
                    const graphInfo = JSON.parse(response.graphInfo)
                    loadGraph(graphInfo.nodes, graphInfo.edges)
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert('Error');
                }

            })
        })
    </script>
    {% endblock javascript %}
</body>
</html>
