<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFG</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <script type="text/javascript" src="{% static 'data/json/graphInfo.json.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>


</head>
<body>
    
    <h1>Drawing Metabolic Pathways and Networks</h1>

    <label>Choose a metabolic pathway/network:</label>

    <form id="pathwayForm">
        {% csrf_token %}
        <select id="pathwaysList" name="pathwayNames">
            {% for filename in filenames %}
                <option value="{{filename}}">{{ filename }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Load Pathways" />
        <!-- <button type="button" id="loadPathway">Load Pathway</button> -->
    </form>
    
    <br><br>
    <div id="container">
        <div id="mynetwork"></div>
        <div id="infoConfig">

            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Information')">Information</button>
                <button class="tablinks" onclick="openTab(event, 'Configuration')">Configuration</button>
                <button class="tablinks" onclick="openTab(event, 'Actions')">Actions</button>
            </div>
              
             
            <div id="Information" class="tabcontent">
                <h3 id="nodeId"></h3>
                <p>Predecesors:</p>
                <ul>
                    <!-- {% for pred in predecessors %}
                        <li>{pred}</li>
                    {% endfor %} -->
                </ul>
                <p>Succesors:</p>
                <p>Degree:</p>
            </div>
            
            <div id="Configuration" class="tabcontent">
            </div>
            
            <div id="Actions" class="tabcontent">
            </div>

        </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>

    {% block javascript %}
    <script>
        /*
            On submiting the form, send the POST ajax
            request to server and after successfull submission
            display the object.
        */
        $("#pathwayForm").submit(function (e) {
            // preventing from page reload and default actions
            e.preventDefault();
            // serialize the data for sending the form data.
            var serializedData = $(this).serialize();
            // make POST ajax call
            $.ajax({
                type: 'POST',
                url: "{% url 'add_pathway' %}",
                data: {
                    name: $("#pathwaysList option:selected").text(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function (response) {
                    alert('Success');
                },
                error: function (response) {
                    // alert the error if any error occured
                    alert('Error');
                }
            })
        })
    </script>
    {% endblock javascript %}
</body>
</html>
