<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TFG</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <script type="text/javascript" src="{% static 'data/json/graphInfo.json.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>


</head>
<body>

    <h1>Drawing Metabolic Pathways and Networks</h1>

    <label>Choose a metabolic pathway/network:</label>

    <select id="pathwaysList">
        {% for filename in filenames %}
            <option>{{ filename }}</option>
        {% endfor %}
    </select>
    <br><br>
    <div id="container">
        <div id="mynetwork"></div>
        <div id="infoConfig"></div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
